
body   { margin: 0 ; padding: 0 ; background-color: #000000 ; color: #ffffff ; font-family:  'Encode Sans Expanded', sans-serif; }
* { box-sizing: border-box }
.build  { position: absolute ; height: calc( 100vh / 24 ) ;  width: 33.333%; cursor: pointer; }
.build.top  { top: 0 ; right: 0 ; }
.build.bot  { bottom: 0 ; left: 0 ; }
.build .act   { display: flex ;  flex-flow: row nowrap ; height: 100% ; align-items: center ; justify-content: space-around ;  }
.build .act .fun  { height: 80% ; width: calc( 50% - 0.5rem ) ; background-color: #999900cc ; color: #ffffff; display: flex ;  flex-flow: row nowrap ;  align-items: center ; justify-content: space-around ; font-size: calc( ( 100vh / 25 ) - 2vh ) ; font-weight: 200 ;  border-radius: 0.25rem ; }
.build .act .fun:hover  { background-color: #999900ff ; }
ul   { display: block ; list-style-type: none ; margin: 0 auto ; padding: 0 ;}
ul li  { display: block ; list-style-type: none ; margin: 0 ; padding: 0 ;  }
ul li.remote  { display: none ;  }
ul li ul  { display: flex ; flex-flow: column nowrap ; height: auto ; background: transparent ; }
ul li ul li  { height: calc( 100vh / 25 ) ; width: 100%;  position: relative ; }
ul li ul li::after  { content: '' ; width: 100% ; height: 1px ; background-color: #ffffff ; position: absolute ; bottom: 0 ; opacity: 0.1 ; }
ul li:first-of-type ul li:first-of-type::after ,
ul li ul li:last-of-type::after  { opacity: 0.3 ; }
ul li:last-of-type ul li:last-of-type::after  { display: none ; }
ul li ul li .hdr  { position: absolute; left: 0 ; right: 0 ; top: 0 ; bottom: 0 ; display: flex ; flex-flow: row nowrap ;  align-items: center ; justify-content: center ; font-size: calc( ( 100vh / 25 ) - 2vh ) ; font-weight: 200 ; }
ul li ul li .loyalty  { display: flex ; flex-flow: row nowrap ; width: 100% ; height: 100% ; }
ul li ul li .loyalty .fun  { display: flex ; flex-flow: row nowrap ; width: 15% ; cursor: pointer ; opacity: 0.2 ; align-items: center;  justify-content: space-around;  }
ul li ul li[data-always] .loyalty .fun  { opacity: 0 ; }
ul li ul li .loyalty .fun:nth-of-type(1)  { }
ul li ul li .loyalty .fun:nth-of-type(2)  { margin-right: 20% ; }
ul li ul li .loyalty .fun:nth-of-type(3)  { margin-left: 20% ; }
ul li ul li .loyalty .fun:nth-of-type(4)  { }
ul li ul li:hover  { background-color: #333333  ;  }
ul li ul li .loyalty .fun.on  { opacity: 1 ;  }
ul li ul li .loyalty .fun .txt  { display: none ; }
ul li ul li .loyalty .fun .ico  { display: block  ; font-size: calc( ( 100vh / 25 ) - 1.25vh ) ; }
ul li ul li .loyalty .fun:hover  {  }
#queue  { position: fixed ; top: 0 ; right: 0 ; bottom: 0 ; left: 0 ; background: #666666 ; color: #cccccc; }
#queue table  { width: 100% ; margin: 0; padding: 0 ; border-collapse: collapse; }
#queue table tr { height: 33.333vh ; position: relative ; }
#queue table tr::after { position: absolute; bottom: 0 ; left: 47vw ; font-size: 4vh ; line-height: 6vh ; width: 6vh ; text-align: center ; color: #ffffff ; background-color: #000000 ; border-radius: 3vh 3vh 0 0 ; }
#queue table tr:nth-of-type(1) { background: #333333; }
#queue table tr:nth-of-type(1)::after {content: '1'; }
#queue table tr:nth-of-type(2) { background: #1f1f1f; }
#queue table tr:nth-of-type(2)::after {content: '2'; }
#queue table tr:nth-of-type(3) { background: #000000; }
#queue table tr:nth-of-type(3)::after {content: '3'; }
#queue table tr td  { vertical-align: top ; text-align: left ; position: relative; font-size: 1.75vw ; }
#queue table tr td::after  { position: absolute; font-size: 30vh ; top: 1vh ; text-align: center ; color: #ffffff ; font-family: fontAwesome ; opacity: 0.125 ; }
#queue table tr td:nth-of-type(odd)   { background-color: #00001966 ; padding: 0 ; width: 50vw ; }
#queue table tr td:nth-of-type(even)  { background-color: #00001966 ; padding: 0 ; width: 50vw ;  }
#queue table tr td:nth-of-type(odd)::after   { content: '\f1d1' ; left: 1vw ; color: #999999 ; }
#queue table tr td:nth-of-type(even)::after  { content: '\f1d0' ; right: 1vw ; color: #ff0000 ; }
#queue td  { }
#queue ul  { padding: 1rem ; }
#queue ul li  { padding: 0 0 0.25rem ; margin: 0 0 0.25rem ; border-bottom: 0px dotted rgba(255,255,255,0.2) ; }
#queue ul li:last-of-type  { padding-bottom: 0 ; margin-bottom: 0 ; border-bottom-width: 0 ; }
ul.systems ul li span.hdr { display: flex ; justify-content: flex-start ; padding-left: 37.5% ; }
ul.systems ul li span.hdr span.slot { padding: 0 0 0 1rem  ; margin: 0   ; color: #999999 ; vertical-align: bottom ; }
ul.systems ul li span.hdr span.slot::after ,
ul.systems ul li span.hdr::after { font-family: FontAwesome; font-size: inherit; display: inline-block; padding: 0  ; margin: 0 0 0 0.5rem ; }
ul.systems ul li[data-left="b1"] span.hdr span.slot::after { content: "\f111"; color: #0000cd;   }
ul.systems ul li[data-left="b3"] span.hdr span.slot::after { content: "\f04b"; transform: rotate(270deg);  color: #0000cd;   }
ul.systems ul li[data-left="b4"] span.hdr span.slot::after { content: "\f04d"; color: #0000cd;   }
ul.systems ul li[data-right="b1"] span.hdr::after { content: "\f111"; color: #0000cd;   }
ul.systems ul li[data-right="b3"] span.hdr::after { content: "\f04b"; transform: rotate(270deg);  color: #0000cd;   }
ul.systems ul li[data-right="b4"] span.hdr::after { content: "\f04d"; color: #0000cd;   }
ul.systems ul li[data-left="o1"] span.hdr span.slot::after { content: "\f111"; color: #FFD700; }
ul.systems ul li[data-left="o3"] span.hdr span.slot::after { content: "\f04b"; transform: rotate(270deg);  color: #FFD700; }
ul.systems ul li[data-left="o4"] span.hdr span.slot::after { content: "\f04d"; color: #FFD700; }
ul.systems ul li[data-right="o1"] span.hdr::after { content: "\f111"; color: #FFD700; }
ul.systems ul li[data-right="o3"] span.hdr::after { content: "\f04b"; transform: rotate(270deg);  color: #FFD700; }
ul.systems ul li[data-right="o4"] span.hdr::after { content: "\f04d"; color: #FFD700; }
